<li class="relative <%= conversation.id == @conversation&.id ? 'bg-gray-200 dark:bg-slate-950' : 'bg-gray-100 dark:bg-slate-800' %> px-4 py-5 focus-within:ring-2 focus-within:ring-inset focus-within:ring-gray-600 hover:bg-gray-50 dark:hover:bg-slate-900">
  <div class="flex justify-between space-x-3">
    <div class="min-w-0 flex-1">
      <a href="/conversations/<%= conversation.id%>" class="block focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <% if conversation.topic.to_s.empty? %>
          <p class="text-sm font-medium text-gray-500 dark:text-slate-300">Nouvelle conversation</p>
        <% else %>
          <p class="truncate text-sm font-medium text-gray-900 dark:text-slate-100"><%= conversation.topic %></p>
        <% end %>
        <p class="text-sm text-gray-500 dark:text-slate-400"><%= conversation.messages.count %> message<%= "s" if conversation.messages.count > 1 %></p>
      </a>
    </div>
    <time datetime="conversation.created_at" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500 dark:text-slate-400">
      <%= time_ago_in_words conversation.created_at %>
    </time>
  </div>
</li>
