<li class="py-4 border-b border-b-gray-300 dark:border-b-slate-800" id="message_<%= message.id %>">
  <div class="sm:flex mb-4">
    <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
      <img class="inline-block h-14 w-14 rounded-full m-1" src="/images/<%= message.role %>.png" alt="">
    </div>
    <div class="w-full">
      <h4 class="text-md font-bold flex items-end">
        <%= message.human_role %>
        <% if message.role == "assistant" %>
          <span class="ml-4 text-gray-500 flex items-center text-sm font-normal">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 mr-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z" />
            </svg>
            <%= message.tokens || 0 %>
          </span>
        <% end %>
      </h4>
      <div class="mt-1 overflow-x-auto max-w-screen-md prose dark:text-white dark:prose-code:text-white dark:prose-headings:text-white">
        <%= message.content_html %>
      </div>
    </div>
  </div>
</li>
